# Day1

# Question1

In [1]:
ls=[12,34,56,78,90]
print(ls[0])
print(ls[-1])

12
90

# Question2

In [2]:
ls1=["python","java",1,4,56,(6+9j)]
print(ls1[::-1])

[(6+9j), 56, 4, 1, 'java', 'python']

# Question3

In [3]:
ls2=[1,3,"java",[1,4,56,43,4],13,"hi"]
print(ls2[1:4])

[3, 'java', [1, 4, 56, 43, 4]]

# Question4

In [2]:
ls4=[2,4,5,6,7]
sum=0
for i in ls4:
    i=sum+i
    sum=i
print("The sum of all elements in a list:",sum)

The sum of all elements in a list: 24

# Question5

In [5]:
ls5=[11,23,46,4,6,8,78,99,90,44,76]
count=0
for i in ls5:
    if i%2==0:
        count+=1
print("Number of even numbers:",count)

Number of even numbers: 8

# Question6

In [18]:
ls6=[23,4,56,"hello","hi",45,67,87,64]
print(ls6[2::2])

[56, 'hi', 67, 64]

# Question7

In [11]:
ls7=["mahesh","prabhas","nani","pawan","ramcharan"]
print(ls7[0].upper())
print(ls7[1].upper())
print(ls7[2].upper())
print(ls7[3].upper())
print(ls7[4].upper())

MAHESH
PRABHAS
NANI
PAWAN
RAMCHARAN

# # Question8

In [15]:
ls8=[12,2,[34,5,6],"system",22,[12,33,45,],(2+8j)]
print("The length of the list:",len(ls8))

The length of the list: 7

#  Question9

In [20]:
ls9=[12,5,7,89,65,67,5,76,86]
ls9[2]="india"
print(ls9)

[12, 5, 'india', 89, 65, 67, 5, 76, 86]

# Day2

# Question1

In [7]:
org_list=[12,34,"fortyfive",32,56,77]
rev_list=[]
for i in range(len(org_list) -1,-1,-1):
    rev_list.append(org_list[i])
print("original list",org_list)
print("reverse list",rev_list)

original list [12, 34, 'fortyfive', 32, 56, 77]
reverse list [77, 56, 32, 'fortyfive', 34, 12]

# Question2

In [17]:
veg=["spinach","carrot","beans","spinach","cucumber","spinach"]
val="spinach" 
new_veg=[]
for i in veg:
    if i!=val:
        new_veg.append(i)
print("veg after removing",val,"is: ",new_veg)

veg after removing spinach is:  ['carrot', 'beans', 'cucumber']

# Question3

In [25]:
num=[12,3,45,65,5,4,54,4]
num.sort(reverse=True)
print(num)
print("The second largest number in the list:",num[1])

[65, 54, 45, 12, 5, 4, 4, 3]
The second largest number in the list: 54

 # Question4

In [4]:
even_list=[]
for i in range(1,21):
    if i%2==0:
        even_list.append(i)
print("The list of all even numbers from 1 to 20 ia:",even_list)

The list of all even numbers from 1 to 20 ia: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
#using list comprehension
even_list=[i for i in range(1,21) if i%2==0]
print("The list of all even numbers from 1 to 20:",even_list)

The list of all even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question5

In [29]:
num_list=[4,5,2,34,54,6,66,6,7,56,87,765,3,2,22]
new_num_list=[]
for i in num_list:
    if i>5:
        new_num_list.append(i)
print("The list of numbers greater than 5:",new_num_list)

The list of numbers greater than 5: [34, 54, 6, 66, 6, 7, 56, 87, 765, 22]

In [3]:
#using list comprehension
num_list=[4,5,2,34,54,6,66,6,7,56,87,765,3,2,22]
new_num_list=[i for i in num_list if i>5]
print("Thelist of numbers greater than 5:",new_num_list)

Thelist of numbers greater than 5: [34, 54, 6, 66, 6, 7, 56, 87, 765, 22]

# Question6

In [8]:
list1=[1,23,45,55,"s","c","hi",55,67,87]
del list1[2:7]
print(list1)

[1, 23, 55, 67, 87]

# Question7

In [3]:
words=["hi","rohit","sushma","mrunal","mahesh"]
words_len=[]
for i in words:
    words_len.append(len(i))
print("The list of lengthof each word:\n",words_len)

The list of lengthof each word:
 [2, 5, 6, 6, 6]

In [5]:
#using list comprehension
words=["hi","rohit","sushma","mrunal","mahesh"]
words_len=[len(i) for i in words]
print("The list of lengthof each word:\n",words_len)

The list of lengthof each word:
 [2, 5, 6, 6, 6]

# Question8

In [7]:
list12=list(input("enter your list:"))
val=input("enter the value you want to remove:")
new_list=[]
for i in list12:
    if i!=val:
        new_list.append(i)
print(new_list)

enter your list: 245678934
enter the value you want to remove: 4

['2', '5', '6', '7', '8', '9', '3']

# Question9

In [27]:
string=input("enter your string:")
list11=list(string)
print(list11)
list11.reverse()
print(list11)
string1=''.join(list11)ro
print("reversed string:",string1)

enter your string: rohit

['r', 'o', 'h', 'i', 't']
['t', 'i', 'h', 'o', 'r']
reversed string: tihor

# Question10

In [ ]:
#. Write a program that takes a sentence as input. Split the sentence into a list of words. Then, iterate through the list of words and count the total number of vowels (a, e, i, o, u - case-insensitive) in all the words combined. Print the total vowel coun

In [30]:
sentence=input("enter your sentence:")
words_ls=list(sentence)
vowels=['a','e','i','o','u','A','E','I','O','U']
count=0
for i in sentence:
    if i in vowels:
        count+=1
print("The number of vowels present in the sentense are:",count)

enter your sentence: dhoni finishes off in style

The number of vowels present in the sentense are: 8

# Day 5

# Question 1

Set is an unordered collection of unique elements.
The main difference between a set and a list is that list is ordered while set is an unordered dataset.
A set is mutable while tuple is immutable.
properties of set:
1.unordered
2.mutable
3.unique
4.hetrogeneous.

# Question 1

frozenset is an unorederd and immutable collection of elements.
frozenset is immutable and regular set is mutable.
Since frozensets are immutable they can be used as keys in dictionaries.

# Question 3

No,we cannot have mutable datatypes as elements of sets,but we can modified the mutable datatypes after creation.
frozensets sets also don't take mutable datatypes as elements since they are immutable.

# Question 4

In [ ]:
>>> split() is used to divide a string into a list of substrings

In [2]:
string="python is a programming language"
string1=string.split()
print(string1)

['python', 'is', 'a', 'programming', 'language']

# Question 5

In [ ]:
join() is used to combine the substrings into a single string.

In [5]:
string=["hello"," world !", "good", " morning"]
string1=''.join(string)
print(string1)

hello world !good morning

# Question 8

In [7]:
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
set1=set(list1)
set2=set(list2)
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

# Question 9

In [8]:
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3=set1.intersection(set2)
print(set3)

{4, 5}

# Question 10

In [16]:
sent=input("enter your sentence:")
words=sent.split()
set1=set(words)
for unique in set1:
    print(unique)

enter your sentence: this is python this is java

this
is
python
java

# Question 11

In [17]:
list1=["hello","world","python"]
list2="-".join(list1)
list2

'hello-world-python'