# Day 1

# Question1

In [5]:
student={'anil':89,'chakri':87,'rohit':80,'virat':86,'sachin':97}
print(student)

{'anil': 89, 'chakri': 87, 'rohit': 80, 'virat': 86, 'sachin': 97}

# Question2

In [6]:
player_stats={'name':'rohit','age':39,'team':'india','100s':53,'Hs':264}
player_stats.get("100s")

53

# Question3

In [14]:
player_stats={'name':'rohit','age':39,'team':'india','100s':53,'Hs':264}
player_stats.update({'DOB':'30 April'})
player_stats

{'name': 'rohit',
 'age': 39,
 'team': 'india',
 '100s': 53,
 'Hs': 264,
 'DOB': '30 April'}

# Question4

In [20]:
player_stats={'name':'rohit','age':39,'team':'india','100s':53,'Hs':264}
player_stats.update({'100s':54})
player_stats

{'name': 'rohit', 'age': 39, 'team': 'india', '100s': 54, 'Hs': 264}

# Question5

In [22]:
employee={'name':'mrunal','age':32,'salary':34000,'des':'devoloper'}
employee.pop('des')
employee

{'name': 'mrunal', 'age': 32, 'salary': 34000}

# Question6

In [24]:
report={'name':'rani','age':32,'bloodgroup':'O+'}
report.keys()
print(list(report.keys()))

['name', 'age', 'bloodgroup']

# Question7

customers={'name':'madhu','accountno.':2368753,'accounttype':'savings','branch':'banglore'}
customers.values()
print(list(customers.values()))

# Question8

In [1]:
customers={'name':'madhu','accountno.':2368753,'accounttype':'savings','branch':'banglore'}
customers.items()
print(list(customers.items()))

[('name', 'madhu'), ('accountno.', 2368753), ('accounttype', 'savings'), ('branch', 'banglore')]

# Question9

In [5]:
class_room={'class':5,'no.of students':65,'section':'B','classteacher':'ramya'}
if 'section' in class_room:
    print("key is present")
else:
    print("not present")

key is present

# Question10

In [8]:
customers={'name':'madhu','accountno.':2368753,'accounttype':'savings','branch':'banglore'}
for keys in customers:
    print(keys)

name
accountno.
accounttype
branch

# Question11

In [12]:
customers={'name':'madhu','accountno.':2368753,'accounttype':'savings','branch':'banglore'}
for value in customers.values():
    print(value)

madhu
2368753
savings
banglore

# Question12

In [15]:
class_room={'class':5,'no.of students':65,'section':'B','classteacher':'ramya'}
school={'name':'adarsha','place':'madanapalle'}
class_room.update(school)
class_room

{'class': 5,
 'no.of students': 65,
 'section': 'B',
 'classteacher': 'ramya',
 'name': 'adarsha',
 'place': 'madanapalle'}

# Question13

In [5]:
dict1={'a':3,'b':5,'c':7,'d':6,'e':9}
max_key=max(dict1,key=dict1.get)
max_key

'e'

In [1]:
dict1={'a':2,'b':6,'c':3,'d':10}
max_key=max(dict1,key=dict1.get)
max_key

'd'

# Question14

In [11]:
employee_details={'marathahalli':{'name':'anil','age':21,'salary':25000, 'des':'devoloper'},
                  'btm layout':{'name':'chakri','age':22,'salary':29000,'des':'devoloper'},
                  'krpuram':{'name':'rohit','age':32,'salary':24000,'des':'tester'}}
employee_details['marathahalli']['name']

'anil'

# Question15

In [13]:
names=['chakri','ravi','ram','kl','ms']
marks=[87,89,90,78,80]
student=dict(zip(names,marks))
print(student)

{'chakri': 87, 'ravi': 89, 'ram': 90, 'kl': 78, 'ms': 80}

# Question16

In [15]:
names={'rana','deepak','hema','rohit','virat'}
student=dict.fromkeys(names,78)
student

{'virat': 78, 'hema': 78, 'rohit': 78, 'deepak': 78, 'rana': 78}

# Day2

# Question1

In [18]:
def hello_world(greeting):
    print(f"{greeting}, world")
hello_world("Hello")

Hello, world

# Question2

In [19]:
def greeting(name):
    print(f"Hello {name},nice to meet you")
greeting("chakri")

Hello chakri,nice to meet you

# Question3

In [23]:
def addition(a,b):
    a=int(input("enter your first number:"))
    b=int(input("enter your second number:"))
    add=a+b
    print(f"The sum of {a} & {b} is:",add)
addition(4,6)

enter your first number: 4
enter your second number: 8

The sum of 4 & 8 is: 12

# Question14

In [34]:
def square(num):
    print(f"The square root of {num} is:")
    if num==1:
        print("The square root of 1 is 1")
    else:
        sq=num**2
        return sq
square(6)

The square root of 6 is:

36

# Question5

In [35]:
def even_odd(num):
    if(num%2==0):
        print(f"{num} is even")
    else:
        print(f"{num} is odd")
even_odd(9)

9 is odd

# Question6

In [36]:
def factorial(num):
    fact=1
    if num<0:
        print("factorial dosenot exist")
    elif num==0:
        print("factorial is 1")
    else :
        for i in range(1,num+1):
            fact=fact*i
    print(f"The factorial of {num} is: {fact}")
factorial(12)

The factorial of 12 is: 479001600

# Question7

In [44]:
list1=[6,5,8,5,6,2]
def list_sum(iterable):
    sum1=0
    for i in iterable:
        sum1=sum1+i
    return sum1
x=list_sum(list1)
print(x)

32

# Question8

In [49]:
list1=[4,3,5,7,9,54,67,19,10]
def even_list(iterable):
    new_list=[]
    for i in list1:
        if i%2==0:
            new_list.append(i)
    return new_list
x=even_list(list1)
print(x)

[4, 54, 10]

# Question9

In [50]:

def long_string(str1,str2):
    if len(str1)>len(str2):
        return str1
    else:
        return str2
long_string("worldcup","laliga")

'worldcup'

# Question10

In [53]:
def celsius_to_fahrenheit(celsius):
    fahrenheit=(celsius*9/5)+32
    return fahrenheit
celsius_to_fahrenheit(56)

132.8

In [2]:
def temperature(celsius):
    farenheit=(celsius*9/5)+32
    print(farenheit)
temperature(56)

132.8