In [5]:
def greeting(name):
    print(f"hello ! {name}, nice to meet you")
greeting("rohit")
greeting("ram")
greeting("ms")

hello ! rohit, nice to meet you
hello ! ram, nice to meet you
hello ! ms, nice to meet you

In [9]:
def average(a,b,c):
    print(f"a={a} b={b} c={c}")
    avg=(a+b+c)/3
    return avg
average(10,32,21)

a=10 b=32 c=21

21.0

In [8]:
def factorial(num):
    fact=1
    if num<0:
        print("factorial dosenot exist")
    elif num==0:
        print("factorial is 1")
    else :
        for i in range(1,num+1):
            fact=fact*i
    print(f"The factorial of {num} is: {fact}")
factorial(6)
factorial(12)

The factorial of 6 is: 720
The factorial of 12 is: 479001600

In [12]:
list1=[4,6,7,4,5,7]
tuple1=(2,4,5,6,7,4)
set1={3,5,7,9,2}
def addition(iterable):
    """This function is used to find sum"""
    sum1=0
    for i in iterable:
        sum1+=i
    return sum1
x=addition(list1)
y=addition(tuple1)
z=addition(set1)
print(x)
print(y)
print(z)
print(addition.__doc__)

33
28
26
This function is used to find sum

# function arguments

# positional arguments

In [2]:
def addition(a,b):
    print(f"a=={a} b=={b}")
    add=a+b
    print("the addition of a & b is",add)
addition(5,7)

a==5 b==7
the addition of a & b is 12

In [4]:
def greeting(first_name,second_name):
    print(f"Hello,{first_name} {second_name}")
greeting("rohit","sharma")
greeting("sharma","rohit")

Hello,rohit sharma
Hello,sharma rohit

In [3]:
def reverse(num):
    rev=0
    while num>0:
        remainder=num%10
        rev=(rev*10)+remainder
        num=num//10
    return rev
reverse(345654)

456543

In [8]:
def reverse(num):
    rev=0
    while num>0:
        remainder=num%10
        rev=(rev*10)+remainder
        num=num//10
    return rev
reverse((int(345.435)))

543

# keyword arguments

In [7]:
def animal(animal_type,pet_name):
    print(f"i have a {animal_type}")
    print(f"it's name is {pet_name}")
animal("dog","buddy") #positional arguments
animal(pet_name="buddy",animal_type="dog") #keyword arguments

i have a dog
it's name is buddy
i have a dog
it's name is buddy

In [18]:
def even_odd(n1,n2):
    if n1%2==0:
        print(n1,"is even")
    else:
        print(n1,"is odd")
    if n2%2==0:
        print(n2,"is even")
    else:
        print(n2,"is odd")
even_odd(n2=7,n1=8)

8 is even
7 is odd

# Default arguments

In [26]:
def multiplication(b,c=8,a=7):
    product=a*b*c
    print(f"The product of {a},{b} & {c} is: {product}")
multiplication(6)

The product of 7,6 & 8 is: 336

In [ ]:
# Arbitary positional arguments

In [9]:
def addition(*args):
    print("args>>",args)
    sum1=0
    for i in args:
        sum1=sum1+i
    print("the sum of all items is:",sum1)
addition(4,6,8,4,5,67,8,5,67)

args>> (4, 6, 8, 4, 5, 67, 8, 5, 67)
the sum of all items is: 174

In [28]:
def even_odd(*args):
    for i in args:
        if i%2==0:
            print("even numbers:",i)
        else:
            print("odd numbers:",i)
even_odd(3,5,6,7,3,4,43,5,678,98)

odd numbers: 3
odd numbers: 5
even numbers: 6
odd numbers: 7
odd numbers: 3
even numbers: 4
odd numbers: 43
odd numbers: 5
even numbers: 678
even numbers: 98

# arbitary keyword arguments

In [36]:
def average(**kwargs):
    print("kwargs:",kwargs)
    avg=sum(kwargs.values())/len(kwargs)
    print(avg)
average(tel=67,hin=78,eng=87,mat=90,sci=78,soc=90)

kwargs: {'tel': 67, 'hin': 78, 'eng': 87, 'mat': 90, 'sci': 78, 'soc': 90}
81.66666666666667

# kambda functions

In [10]:
add = lambda a,b:a+b
add(4,7)

11

In [13]:
sum1=lambda a,b,*args:a+b+sum(args)
sum1(3,4,5,6,6,7,8,9,4,3)

55

In [18]:
sum1=lambda a,b,list1:a+b+sum(list1)
list1=[3,4,6,7,6]
sum1(5,8,list1)

39

In [25]:
sqr=lambda x:[i**2 for i in x]
sqr([3,4,4])

[9, 16, 16]