# list

In [5]:
list11=[12,34,435,5,4,44,5,6]
print(type(list11))
len(list11)

<class 'list'>

8

In [9]:
list12=["ster",[12,34,56,75,77],12,34,56,[34,44,43],(6+7j)]
print(type(list12[3]))
print(type(list12[6]))
print(type(list12[1][4]))

<class 'int'>
<class 'complex'>
<class 'int'>

In [9]:
list1=["ashdgf",[12,23,344],[12.33,3.3],[22,3,34]]
print(type(list1[0]))
print(type(list1[1]))
len(list1)

<class 'str'>
<class 'list'>

4

In [13]:
list123=[2,4,"jfhtr","jfg",(3+7j),"fghrtrr",[12,34,24,56]]
list123[4]="chakri"
list123[6][2]="python"
list123

[2, 4, 'jfhtr', 'jfg', 'chakri', 'fghrtrr', [12, 34, 'python', 56]]

In [15]:
ls12=["sdfg",12,33,33,"sef","dejfjge"]
print(ls12[-4])
print(ls12[4])

33
sef

In [19]:
lss=[12,45,4,7,9,2,655,674,86,74,55]
print(lss[:7])
print(lss[::-1])
print(lss[4:8])
print(lss[-3:-8:-1])
print(lss[-1:2:-1])
print(lss[1:7:2])

[12, 45, 4, 7, 9, 2, 655]
[55, 74, 86, 674, 655, 2, 9, 7, 4, 45, 12]
[9, 2, 655, 674]
[86, 674, 655, 2, 9]
[55, 74, 86, 674, 655, 2, 9, 7]
[45, 7, 2]

In [19]:
list2=[12,23,45,56,67,76,54,644,54]
print(list2[2:8])
print(list2[::-1])
print(list2[::-2])

[45, 56, 67, 76, 54, 644]
[54, 644, 54, 76, 67, 56, 45, 23, 12]
[54, 54, 67, 45, 12]

In [28]:
ls2=[2,3,4,5,[44,6,78,87,89,6],[12,45,65,64]]
len(ls2)
print(ls2[4][:5:2])
print(ls2[5][::-1])

[44, 78, 89]
[64, 65, 45, 12]

In [31]:
ls1=[23,32,23,56,64,6,6,6,443]
for i in ls1:
    print(i,end=" ")

23 32 23 56 64 6 6 6 443

In [36]:
ls3=["abss","serfd","ewdq","ddfb"]
for i in ls3:
    print(i.upper())

ABSS
SERFD
EWDQ
DDFB

In [26]:
ls12=["rohit","mahi","virat","raina"]
for i in ls12:
    print("my mane is {}".format(i))
    print("*"*10)

my mane is rohit
**********
my mane is mahi
**********
my mane is virat
**********
my mane is raina
**********

In [29]:
ls12=["rohit","mahi","virat","raina"]
for index,i in enumerate(ls12):
    print(f"index of {i} is {index}")

index of rohit is 0
index of mahi is 1
index of virat is 2
index of raina is 3

# list constructor

In [1]:
string="rohit"
my_string=list(string)
print(my_string)

['r', 'o', 'h', 'i', 't']

In [4]:
names='anil'
new_names=list(names)
print(new_names)

['a', 'n', 'i', 'l']

In [5]:
tuple1=(23,43,45,"ani")
new_tuple=list(tuple1)
print(new_tuple)

[23, 43, 45, 'ani']

In [6]:
set1=(2,3,4,53,5)
new_set=list(set1)
print(new_set)

[2, 3, 4, 53, 5]

In [9]:
ra=range(0,10)
print(list(ra))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
dic={"a":2,"b":4}
print(list(dic))

['a', 'b']

# list functions/methodsA

# append

In [4]:
veg=["carrot","spinach"]
veg.append("beans")
print(veg)

['carrot', 'spinach', 'beans']

In [9]:
ls1=[1,3,45,6]
ls2=[3,4,5]
ls1.append(ls2)
print(ls1)
print(len(ls1))

[1, 3, 45, 6, [3, 4, 5]]
5

In [2]:
name=["anil","ani","bhar","kal","hi"]
num=[12,45,67,44]
name.append(12)
name.append(num)
print(name)

['anil', 'ani', 'bhar', 'kal', 'hi', 12, [12, 45, 67, 44]]

In [3]:
ls=["ear","nose",1,23,4]
ls11=[23,4,5,66]
ls.append("rohit")
ls.append(ls11)
print(ls)

['ear', 'nose', 1, 23, 4, 'rohit', [23, 4, 5, 66]]

In [1]:
ls=[12,34,23,45,56,78,66,7,7,87,87,89,76]
even=[]
odd=[]
for i in ls:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print("even list",even)
print("odd  list",odd)

even list [12, 34, 56, 78, 66, 76]
odd  list [23, 45, 7, 7, 87, 87, 89]

# extend

In [9]:
ls1=[1,3,45,6,6]
ls2=[2,4,5,7]
ls1.extend(ls2)
print(ls1)

[1, 3, 45, 6, 6, 2, 4, 5, 7]

In [4]:
num=[2,5,6,77]
name=["anu","anuuu"]
num.extend(name)
print(num)

[2, 5, 6, 77, 'anu', 'anuuu']

# insert

In [10]:
lss=["python",12,34,54,65,5]
lss.insert(1,"chakri")
print(lss)

['python', 'chakri', 12, 34, 54, 65, 5]

In [5]:
players=[45,54,"nit","kit",23,56,78,6]
players.insert(4,"ro")
print(players)

[45, 54, 'nit', 'kit', 'ro', 23, 56, 78, 6]

# remove

In [11]:
list11=["in",22,3,43,56,44]
list11.remove("in")
print(list11)

[22, 3, 43, 56, 44]

In [12]:
names=["math","sci","tel","chem"]
val="tel"
if val in names:
    names.remove("tel")
    print("item deletd")
else:
    print("not deketed")

item deletd

In [9]:
games=["koko","cric","footb","chess","read"]
del_item="rewq"
if del_item in games:
    games.remove("read")
    print("deleted")
else:
    print("not found")

not found

# pop

In [1]:
ls1=[12,21,23,3,33,78]
ls1.pop(4)
print(ls1)

[12, 21, 23, 3, 78]

In [13]:
tennis=["nadel","jokovich","fedarer","serena"]
tennis.pop(3)
print(tennis)
tennis.pop()
print(tennis)

['nadel', 'jokovich', 'fedarer']
['nadel', 'jokovich']

# clear

In [15]:
lss=[34,44,54,56,65]
lss.clear()
print(lss)

[]

# del keyword

In [20]:
sub=["math","sci","ki","soci"]
del sub[2]
print(sub)

['math', 'sci', 'soci']

# sort

In [24]:
num=[2,4,5,5,33,24,55,6]
num.sort()
print(list(num))
num.sort(reverse=True)
print(list(num))

[2, 4, 5, 5, 6, 24, 33, 55]
[55, 33, 24, 6, 5, 5, 4, 2]

# reverse

In [25]:
fruit=["apple","banana","ora","pum"]
fruit.reverse()
print(list(fruit))

['pum', 'ora', 'banana', 'apple']

# index

In [28]:
web=["html","http","js","css"]
webb=web.index("js")
print(webb)

2

# count

In [31]:
app=["coco","goo","goo","google"]
app.count("goo")

2

# len

In [32]:
numbers=[12,34,5,5,78,67,876]
num=sorted(numbers)
print(num)

[5, 5, 12, 34, 67, 78, 876]

# sorteda

In [1]:
num=[4,5,3,5,254,554,54]
num1=sorted(num)
print(num1)

[3, 4, 5, 5, 54, 254, 554]

# list comprehention

In [9]:
sq=[]
for i in range(0,10):
    sq.append(i**2)
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
sq=[i**2 for i in range(0,10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
cu=[i**3 for i in range(1,20)]
print(cu,end="")

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [2]:
#create new list using existing list such that new list have all characters in upper case
list1=["anil","ani","anu","ano","ana"]
upper=[]
for i in list1:
    upper.append(i.upper())
print(upper)

['ANIL', 'ANI', 'ANU', 'ANO', 'ANA']

In [3]:
upper=[i.upper() for i in list1]
upper

['ANIL', 'ANI', 'ANU', 'ANO', 'ANA']

In [7]:
#### Categorize Numbers as "Even" or "Odd"
num=[4,6,3,45,65,66,78]
label=[]
for i in num:
    if i%2==0:
        label.append("even")
    else:
        label.append("odd")
print(label)

['even', 'even', 'odd', 'odd', 'odd', 'even', 'even']

In [8]:
label=["even" if i%2==0 else "odd" for i in num]
label

['even', 'even', 'odd', 'odd', 'odd', 'even', 'even']

In [ ]:
#### Filtering positive numbers from a list:

In [9]:
integers=[-3,3,-4,5,3,-6,-6,43,-65]
pos=[]
for i in integers:
    if i>0:
        pos.append(i)
print(pos)

[3, 5, 3, 43]

In [13]:
pos=[i for i in integers if i>0]
pos

[3, 5, 3, 43]

# tuple

In [14]:
#creation of tuple
tuple1=(2,4,5,6,78,9)
print(type(tuple))

<class 'type'>

In [15]:
#from list
list11=[45,"rty",54,6,"kjh"]
print(list11)
tuple1=tuple(list11)
print(tuple1)

[45, 'rty', 54, 6, 'kjh']
(45, 'rty', 54, 6, 'kjh')

In [16]:
#from dtring
string="rohit"
new_str=tuple(string)
print(new_str)

('r', 'o', 'h', 'i', 't')

In [20]:
#from a range
tup=range(6)
new_tup=tuple(tup)
new_tup

(0, 1, 2, 3, 4, 5)

In [21]:
#accessing elements
tup1=("fgrt","jhyt","ihu","jcvbj")
print(tup1[2])

ihu

# count

In [2]:
tuple1=("a","c","a","p","q")
newtup=tuple1.count("q")
print(newtup)

1

In [17]:
newtup1=tuple1.index("c")
print(newtup1)

1

# len()

In [3]:
tup2=("jg",3,5,6,4,6,3,5,6,8)
print(len(tup2))

10

# max()

In [5]:
tup1=(12,4,3,56,75,5,543,677,2)
maximum=max(tup1)
print(maximum)

677

# min()

In [14]:
tup1=(3,4,5,33,1)
minimum=min(tup1)
print(minimum)

1

# sum()

In [15]:
tup=(3,5,64,5,66,78,98)
add=sum(tup)
print(add)

319

# sorted()

In [16]:
tuple12=(4,6,4,5,655,32,45,65,88,9)
new=sorted(tuple12)
print(new)

[4, 4, 5, 6, 9, 32, 45, 65, 88, 655]

# Ways to update tuple

# Converting to a List, Modifying, and Converting Back

In [19]:
tup1=(2,45,6,"me")
mylist=list(tup1)
print(mylist)
mylist.append("we")
print(mylist)
tup1=tuple(mylist)
print(tup1)

[2, 45, 6, 'me']
[2, 45, 6, 'me', 'we']
(2, 45, 6, 'me', 'we')

# Concatenation: You can combine two or more tuples to create a new tuple.

In [20]:
tup=(1,4,56,4)
tup1=(4,5,6,7)
tup2=tup+tup1
print(tup2)

(1, 4, 56, 4, 4, 5, 6, 7)

In [21]:
tup=(1,3,3,45,5)
tup1=("hi","hlo","hh")
tup2=tup+tup1
print(tup2)

(1, 3, 3, 45, 5, 'hi', 'hlo', 'hh')

In [22]:
tup=(23,"fer","hyt",43)
tup1=("lik",)
tup2=tup+tup1
print(tup2)

(23, 'fer', 'hyt', 43, 'lik')

#Question: Create a tuple named student_info containing the student's name (string), age (integer), and grade (float). Then, access and print each element of the tuple using its index.

In [23]:
student_info=("chaitan",23,4.1)
print("student name:",student_info[0])
print("age:",student_info[1])
print("grade:",student_info[2])

student name: chaitan
age: 23
grade: 4.1

# Question: You have two tuples, tuple1 = (1, 2, 3) and tuple2 = ('a', 'b', 'c'). Concatenate these two tuples to create a new tuple named combined_tuple and print it.

In [25]:
tuple1=(1,2,3)
tuple2=('a','b','c')
combined_tuple=tuple1+tuple2
print(combined_tuple)

(1, 2, 3, 'a', 'b', 'c')

# Question:Given a tuple data = (5, 10, 5, 15, 20, 5), find the length of the tuple and the number of times the value 5 appears in it. Print both results.

In [26]:
tup=(5,10,5,15,20,5)
length=len(tup)
print("length of the tuple:",length)
count=tup.count(5)
print(count,"number of times 5 appears in it")

length of the tuple: 6
3 number of times 5 appears in it

# Question: Write a program that takes an element as input and checks if it exists in the tuple fruits = ('apple', 'banana', 'cherry'). Print "Element found" if it exists, and "Element not found" otherwise.

In [32]:
element=input("enter your element:")
fruits=('apple','banana','cherry')
if element in fruits:
     print("element found")
else:
     print("element not found")

enter your element: banana

element found

# shallow copy

In [6]:
org_list=[1,3,4,[5,2,45,5]]
shallow_list=org_list.copy()
print("original list:",org_list)
print("shollow list:",shallow_list)
org_list[2]="str"
print("original list after updating:",org_list)
print("shallow list :",shallow_list)
org_list[3][1]=12
print("original list:",org_list)
print("shallow list:",shallow_list)

original list: [1, 3, 4, [5, 2, 45, 5]]
shollow list: [1, 3, 4, [5, 2, 45, 5]]
original list after updating: [1, 3, 'str', [5, 2, 45, 5]]
shallow list : [1, 3, 4, [5, 2, 45, 5]]
original list: [1, 3, 'str', [5, 12, 45, 5]]
shallow list: [1, 3, 4, [5, 12, 45, 5]]

# deep copy

In [9]:
import copy
org_list=[12,3,4,5,[6,4,56,65]]
deep_list=copy.deepcopy(org_list)
print("original list:",org_list)
print("deep list:",deep_list)
org_list[3]=21
print("original list:",org_list)
print("deep list:",deep_list)
org_list[4][2]="dfg"
print("original list:",org_list)
print("deep list:",deep_list)

original list: [12, 3, 4, 5, [6, 4, 56, 65]]
deep list: [12, 3, 4, 5, [6, 4, 56, 65]]
original list: [12, 3, 4, 21, [6, 4, 56, 65]]
deep list: [12, 3, 4, 5, [6, 4, 56, 65]]
original list: [12, 3, 4, 21, [6, 4, 'dfg', 65]]
deep list: [12, 3, 4, 5, [6, 4, 56, 65]]

In [4]:
# join()
list1=['r','o','h','i','t']
string_from_list="".join(list1)
print(string_from_list)

rohit

In [7]:
# split()
string1="pythonis a programminglanguage"
list_from_string=string1.split("a")
print(list_from_string)

['pythonis ', ' progr', 'mmingl', 'ngu', 'ge']

# set

In [8]:
set1={2,3,4,5,6}
type(set1)

set

In [4]:
num={2,4,5,"four"}
for i in num:
    print(i)

2
5
4
four

In [6]:
if "four" in num:
    print("element present")

element present

# set functions

In [14]:
#add()
tuple1={1,3,4,5,65}
tuple1.add(3)
print(tuple1)

{65, 1, 3, 4, 5}

In [15]:
#update()
fruits={"apple","dfg",12,34,22}
fruits.update([1,3,45,6,8])
print(fruits)

{1, 'apple', 3, 6, 8, 'dfg', 12, 22, 34, 45}

In [16]:
#remove()
names={"name","ram","kl","ro",3,4,5,6}
names.remove("kl")
print(names)

{3, 4, 5, 6, 'name', 'ro', 'ram'}

In [17]:
names.remove(1)
print(names)

KeyError: 1

In [19]:
#discard()
players={"ram","rana","raina","ms"}
players.discard("md")
print(players)

{'ms', 'ram', 'rana', 'raina'}

In [22]:
#pop()
items={"cot",3,4,5,2}
items.pop()
print(items)

{2, 3, 4, 5}

In [24]:
#clear()
items.clear()
print(items)

set()

In [27]:
#difference
set1={"hi","hlo",3,4,5,6}
set2={"hlo",4,6,87,9}
set3=set2.difference(set1)
print(set3)

{9, 87}

In [30]:
#symmetric_difference()
set1={"sye",4,6,7,86}
set2={"sy",4,6,7}
new=set2.symmetric_difference(set1)
print(new)

{'sy', 86, 'sye'}

In [33]:
#union()
set1={3,5,6,"jai"}
set2={4,6,7,8}
set3=set1.union(set2)
print(set3)

{3, 4, 5, 6, 7, 8, 'jai'}

In [36]:
#intersection()
set1={2,4,6,8,10}
set2={1,3,5,8,9}
set3=set1.intersection(set2)
print(set3)

{8}

In [38]:
#issubset()
set1={2,4,3,5,7,6}
set2={3,4,6}
set2.issubset(set1)

True

In [39]:
#issuperset()
set1={1,3,4,5,7,8,9}
set2={3,6,7}
set1.issuperset(set2)

False

In [40]:
#isdisjoint()
set1={1,3,5,7,9}
set2={2,4,6,8,20}
set1.isdisjoint(set2)

True

# frozen sets

In [42]:
fs1=frozenset({1,4,5,6,7})
type(fs1)

frozenset

In [44]:
list1=[2,4,6,7]
fs1=frozenset(list1)
print(fs1)

frozenset({2, 4, 6, 7})

In [45]:
tup=("hi","hlo",3,4)
fs1=frozenset(tup)
fs1

frozenset({3, 4, 'hi', 'hlo'})

In [46]:
string="rohit"
fs1=frozenset(string)
fs1

frozenset({'h', 'i', 'o', 'r', 't'})

In [50]:
fs1=frozenset({1,3,4,5,6})
for i in fs1:
    print(i,end=" ")

1 3 4 5 6

# frozenset functions

In [53]:
#copy()
fs1=frozenset({3,5,6,8,9})
fs1.copy()
fs1

frozenset({3, 5, 6, 8, 9})

In [54]:
#union
fs1=frozenset({3,5,6,7})
fs2=frozenset({3,4,6,8})
fs3=fs1.union(fs2)
fs3

frozenset({3, 4, 5, 6, 7, 8})

In [55]:
#intersection()
fs1=frozenset({4,66,74,86})
set1={4,65,67,86}
fs2=set1.intersection(fs1)
fs2

{4, 86}

In [56]:
#difference()
fs1=({3,5,7,44,56})
set1={4,6,87,44}
fs2=fs1.difference(set1)
fs2

{3, 5, 7, 56}

In [57]:
#symmetric_difference()
fs1=frozenset({43,5,6,7,89})
fs2=frozenset({3,5,6,7,})
fs3=fs1.symmetric_difference(fs2)
fs3

frozenset({3, 43, 89})

In [58]:
#isdisjoint()
fs1=frozenset({3,5,7,8})
fs2=frozenset({4,5,6,8})
fs1.isdisjoint(fs2)

False

In [59]:
#issubset()
fs1=frozenset({2,4,6})
fs2={2}
fs2.issubset(fs2)

True

In [60]:
#issuperset()
fs1=frozenset({3,5,7,9,2,10})
fs2={4,6,4}
fs1.issuperset(fs2)

False

# built in functions

In [ ]:
#len() #max() #min() #sum() #sorted()